.cart-container {
  min-height: 80vh;
  background-color: #fdf8f8;
  padding: 4vh 5vw;
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.cart-title {
  color: #a60019;
  font-weight: 700;
  margin-bottom: 4vh;
}

.cart-main {
  width: 90vw;
  max-width: 1200px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 2vw;
  border-radius: 1vw;
  background: #ffffff;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 2vw;
  flex: 1;
}

.item-img {
  width: 8vw;
  height: 8vw;
  border-radius: 1vw;
  object-fit: cover;
}

.item-name {
  font-size: 1.8vh;
  font-weight: 600;
}

.item-price {
  font-size: 1.7vh;
  color: gray;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.order-summary {
  padding: 3vh 2vw;
  border-radius: 1vw;
  background: #fff;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10vh;
}

.summary-title {
  font-size: 2.2vh;
  font-weight: 700;
  margin-bottom: 2vh;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9vh;
  margin: 1vh 0;
}

.summary-amount {
  font-weight: 900;
  color: #a60019;
}

.checkout-btn {
  background-color: #a60019 !important;
  color: white !important;
  padding: 1.5vh 0;
  font-size: 1.9vh;
  margin-top: 3vh;
  border-radius: 0.8vw;
}

.empty-cart {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
