/* src/CSS/shop.css */

.shop-section {
    background: linear-gradient(to right, #fff7e6, #f9efe1);
    text-align: center;
}


.shop-title {
    font-size: 2.4rem;
    color: #3e2723;
    margin-bottom: 4vh;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* exactly 3 per row */
    gap: 1.5rem;
    /* space between cards */
    padding: 1rem;
}

.shop-card {
    background: #fff;
    border: 0.2rem solid #d4af37;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.shop-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
}

.shop-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 0.8rem;
}

.shop-name {
    font-size: 1.4rem;
    color: #3e2723;
    margin-top: 1.2rem;
}

.shop-price {
    font-size: 1.2rem;
    color: #d4af37;
    margin: 0.5rem 0;
}

.shop-btn {
    padding: 1rem 2rem;
    background: #d4af37;
    color: #3e2723;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}

.shop-btn:hover {
    background: #b58e2f;
    color: #fff;
}

.shop-hero {
    text-align: center;
    height: 50vh;
    padding: 2%;
    background-image: url("../assets/shopimg.jpg");
    background-repeat: none !important;
    background-position: 0vw 2vh;
    background-size: 50vw 50vh;
    color: #fff89c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shop-hero-title {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

.shop-hero-tagline {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #fff;
}

@media (max-width: 900px) {
  .shop-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
  }
}

@media (max-width: 600px) {
  .shop-grid {
    grid-template-columns: 1fr; /* 1 per row */
  }
}



.why-nakshi {
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(135deg, #fff6f6, #ffe9e9);
  margin-top: 3rem;
  border-radius: 10px;
}

.why-title {
  font-size: 2rem;
  font-weight: bold;
  color: #8b0000; /* Dark Crimson */
  margin-bottom: 0.5rem;
}

.why-subtitle {
  color: #444;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.why-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
}

.why-icon {
  width: 50px;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}
