body {
  background-color: #fffaf2;
}

.acctd{
    margin-top: 16vh;
}

.form-label {
  font-weight: 600;
  color: #333;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0.5vh #d4af37 !important;
  border-color: #d4af37 !important;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
