body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 3vh;
  overflow-x: hidden;
} 

.text-brown {
  color: #7b4b2a;
}

.hero-section {
  position: relative;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  /* background: rgba(83, 40, 40, 0.4); */
  z-index: 0; /* Put overlay behind text */
  /* background-image: url(../src/assets/bb.png);   */
}

.hero-section .container {
  position: relative;
  z-index: 1; /* Ensure text & button are clickable */
  /* border: 2px solid red; */
  width: 35vw;
}

.hrfix{
  height:100vh !important;
  color: #3f0012 !important;
  /* border: 2px solid red; */
  /* width: 100vw !important; */
} 

.exp{
  background-color: #3f0012;
  color: #d4af37;
}

.exp:hover{
  background-color:#d4af37;
  color: white;
}